In [1]:
v = "otro texto"
n = 31
print("One texto", v, " Y un number", n)

One texto otro texto  Y un number 31

In [3]:
c = "TEXTO uno '{}' y un Number '{}'".format(v, n)
c

"TEXTO uno 'otro texto' y un Number '31'"

In [4]:
print(c)

TEXTO uno 'otro texto' y un Number '31'

In [5]:
print("One texto '{1}' y One numero '{0}'".format(v, n))

One texto '31' y One numero 'otro texto'

In [6]:
print("One texto '{text}' y One numero '{num}'".format(text = v, num = n))

One texto 'otro texto' y One numero '31'

In [7]:
print("{v}, {v}, {v}".format(v=v))

otro texto, otro texto, otro texto

In [9]:
print("{:>30}".format("palabra")) # Alineamiento a la derecha en 30 caracteres

                       palabra

In [10]:
print("{:30}".format("palabra")) # Alieneamiento a la izquierda en 30 caracteres

palabra

In [12]:
print("{:^30}".format("palabra")) # Alineamiento al centro en 30 caracteres

           palabra

In [15]:
print("{:.4}".format("palabra")) # Truncamiento a 3 caracteres

pala

In [3]:
print("{:>30.3}".format("palabra")) # Alineamiento a la derecha en 30 caracteres con truncamiento 3

                           pal

In [5]:
# formateo de numeros enteros, rellenados con espacio
print("{:4d}".format(10))
print("{:4d}".format(100))
print("{:4d}".format(1000))

  10
 100
1000

In [6]:
# formateo de numeros enteros, rellenados con ceros
print("{:04d}".format(10))
print("{:04d}".format(100))
print("{:04d}".format(1000))

0010
0100
1000

In [8]:
# formateo de numeros flotantes, rellenados con espacios
print("{:7.3f}".format(3.1415926))
print("{:7.3f}".format(153.21))

  3.142
153.210

In [9]:
# Formateo de numeros flotantes, rellanados con ceros
print("{:07.3f}".format(3.1415926))
print("{:07.3f}".format(153.21))

003.142
153.210

In [11]:
nombre = "Nicholas"
cadena = f"Hola {nombre}"

print(cadena)

Hola Nicholas